* {
	font-family: Arial, sans-serif;
}

.main_elements {
	position: relative;
	top: 150px;
	width: 70%;
	margin: auto;
	text-align: center;
}

#logo {
	height: 92px;
	width: 272px;
}


#field {
	padding: 15px;
	width: 550px;
	border: 1px solid #DDD;
	margin: 30px 0 10px 0;
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

.submit {
		padding: 10px 15px;
    background-color: #EEE;
    border: none;
    color: #555;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
}

.submit:hover {
	border: 1px solid #DDD;
	color: #000;
}

.navbar {
	height: 50px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	text-align: right;
}

.navbar li {
	display: inline-block;
	width: 50px;
	padding: 3px;
	vertical-align: middle;
	text-align: center;
}

img.icon {
	height: 30px;
	width: 30px;
}

#profile {
	height: 40px;
	width: 40px;
	border-radius: 100%;
}

a {
	color: #555;
	text-decoration: none;
}

a:hover {
	color: #555;
	text-decoration: underline;
}

a:visited {
	color: #555;
	text-decoration: none;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: #EEE;
	font-family: Arial, sans-serif;
	font-size: 13px;
}

.footer li {
	display: inline-block;
	width: 60px;
	padding: 10px;
	vertical-align: middle;